<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysql123</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <mapping class="org.example.Student"/>
        <mapping class="org.example.Address"/>
        <mapping class="org.mapping.OneToOne.Question"/>
        <mapping class="org.mapping.OneToOne.Answer"/>
        <mapping class="org.mapping.OneToMany.Book"/>
        <mapping class="org.mapping.OneToMany.Author"/>
        <mapping class="org.mapping.ManyToMany.Project"/>
        <mapping class="org.mapping.ManyToMany.Employee"/>
    </session-factory>
</hibernate-configuration>